body {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 15px;
  font-family: Quicksand, sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  line-height: 1.5;
  color: #ffff;
  text-align: left;
  background-color: #ffff;
}

.list-group {
  display: flex;
  flex-direction: column;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #E58BAA;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-header {
  font-weight: 700;
}

.list-content {
  background-color: rgb(41, 41, 45);
}

.spoiler-body {
  display: none;
}
